<!DOCTYPE html>
<html>
  <head>
    <title>Change</title>
  </head>
  <body>
    <p> Quarters: @Model.Change[0]</p>
    <p> Dimes: @Model.Change[1]</p>
    <p> Nickles: @Model.Change[2]</p>
    <p> Pennies: @Model.Change[3]</p>
  </body>
</html>

